@font-face {
    font-family:'BitcountSingleInk';
    src: url('/fonts/BitcountSingleInk-VariableFont_CRSV\,ELSH\,ELXP\,SZP1\,SZP2\,XPN1\,XPN2\,YPN1\,YPN2\,slnt\,wght.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face{
    font-family: 'Praysire-Demo';
    src:url('/fonts/Praysire-Demo.woff2')format('woff2'),;
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Oswald';
    src: url('/fonts/Oswald-VariableFont_wght.ttf') format('truetype');
    font-weight: 200 900;
    font-style: normal;
}